In [8]:
import pandas as pd 
import numpy as np

In [9]:
df = pd.read_csv("synt_transactions_10M.csv", delimiter=";") 
df.head()

,category,timestamp,value_date,logging_payment_timestamp,payment_timestamp,account_number,amount_payment,balance_account,entry_type,payment_type,BIC,reference_code_paymetn,IBAN,counterparty_account_id
0,Tulot,2019-01-01 00:00:00.000000000,2019-01-01,2019-01-01,2019-01-01,1.0,22.09,59.55,0.0,506.0,,1.0,1.0,177.0
1,Ruoka_paivittaistavarakauppa,2019-01-01 13:54:23.551401869,2019-01-01,2019-01-02,2019-01-01,1.0,-9.47,50.08,0.0,162.0,,1.0,1.0,116.0
2,Ruoka_paivittaistavarakauppa,2019-01-02 03:48:47.102803738,2019-01-02,2019-01-02,2019-01-02,1.0,-16.77,33.31,0.0,162.0,,1.0,1.0,137.0
3,Ruoka_paivittaistavarakauppa,2019-01-02 17:43:10.654205607,2019-01-02,2019-01-02,2019-01-02,1.0,-0.89,32.42,0.0,162.0,,1.0,1.0,33.0
4,Ruoka_paivittaistavarakauppa,2019-01-03 07:37:34.205607476,2019-01-03,2019-01-03,2019-01-03,1.0,-5.93,26.49,0.0,162.0,,1.0,1.0,125.0

In [10]:
df.to_csv("data2.csv", sep=',', encoding='utf-8', quotechar='"', decimal='.')

In [16]:
df.shape

(9936646, 14)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9936646 entries, 0 to 9936645
Data columns (total 14 columns):
 #   Column                   Dtype
---  ------                   -----
 0   category                 object
 1   tstamp                   object
 2   arvopvm                  object
 3   kirjauspvm               object
 4   maksupvm                 object
 5   tilinro                  float64
 6   rahamaara                float64
 7   saldo                    float64
 8   vientiselitekd           float64
 9   taplajikd                float64
 10  bic_saaja                object
 11  viite                    float64
 12  iban_saaja               float64
 13  counterparty_account_id  float64
dtypes: float64(8), object(6)
memory usage: 1.0+ GB

In [22]:
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# imputer.fit(df)  
features = imputer.transform(df)

NotFittedError: This SimpleImputer instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.